<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">@sharedResource["messages"]</h4>
            </div>
            <br />
            <br /><br />
            <div class="preview-item border-bottom">
                <div class="preview-item-content d-flex flex-grow">
                    <div class="flex-grow">
                        <a class="btn btn-info btn-lg btn-block" href="/AdminMessage/AdminMessageSend">
                            <i class="mdi mdi-send"></i> @sharedResource["newMessage"] 
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="preview-item border-bottom">
                <div class="preview-item-content d-flex flex-grow">
                    <div class="flex-grow">
                        <a class="btn btn-warning btn-lg btn-block" href="/AdminMessage/AdminInbox">
                            <i class="mdi mdi-mailbox"></i> @sharedResource["inbox"]
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="preview-item border-bottom">
                <div class="preview-item-content d-flex flex-grow">
                    <div class="flex-grow">
                        <a class="btn btn-danger btn-lg btn-block" href="/AdminMessage/AdminOutbox">
                            <i class="mdi mdi-email-open-outline"></i> @sharedResource["outbox"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

