<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year. @sharedResource["rights"]</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <i>mustafasameturan.com</i> <i class="ti-heart text-danger ml-1"></i></span>
    </div>
</footer>