<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@sharedResource["userPanel"]</title>
    <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">
    <link rel="shortcut icon" href="~/Portfolio/images/m_shortcuticon.png" />
    <link href="~/flag-icons/css/flag-icon.css" rel="stylesheet" />
</head>