<li class="nav-item profile">
    <div class="profile-desc">
        <div class="profile-pic">
            <div class="count-indicator">
                <img class="img-xs rounded-circle " src="~/userimage/@ViewBag.v1" alt="admin-icon">
            </div>
            <div class="profile-name">
                <h5 class="mb-0 font-weight-normal">@ViewBag.v2</h5>
                <span>Admin Panel</span>
            </div>
        </div>
    </div>
</li>