<li class="nav-item dropdown">
    <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
        <div class="navbar-profile">
            <img class="img-xs rounded-circle" src="~/userimage/@ViewBag.v1" alt="@ViewBag.v2">
            <p class="mb-0 d-none d-sm-block navbar-profile-name">@ViewBag.v2</p>
            <i class="mdi mdi-menu-down d-none d-sm-block"></i>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item" href="/User/Profile/Index">
            <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-settings text-success"></i>
                </div>
            </div>
            <div class="preview-item-content">
                <p class="preview-subject mb-1">@sharedResource["settings"]</p>
            </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item preview-item" href="/User/Login/LogOut">
            <div class="preview-thumbnail">
                <div class="preview-icon bg-dark rounded-circle">
                    <i class="mdi mdi-logout text-danger"></i>
                </div>
            </div>
            <div class="preview-item-content">
                <p class="preview-subject mb-1">@sharedResource["logOut"]</p>
            </div>
        </a>
    </div>
</li>