@using Entities.Concrete
@model List<SocialMedia>


@foreach (var item in Model)
{
    <li class="nav-item"><a class="nav-link" href="@item.Url" title="@item.Name"><i class="@item.IconUrl"></i><span class="menu-title sr-only">@item.Name</span></a></li>
}
