<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">@sharedResource["worldMap"]</h4>
            <div class="row">
                @*<div class="col-md-5">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-us"></i>
                                    </td>
                                    <td>USA</td>
                                    <td class="text-right"> 1500 </td>
                                    <td class="text-right font-weight-medium"> 56.35% </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-de"></i>
                                    </td>
                                    <td>Germany</td>
                                    <td class="text-right"> 800 </td>
                                    <td class="text-right font-weight-medium"> 33.25% </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-au"></i>
                                    </td>
                                    <td>Australia</td>
                                    <td class="text-right"> 760 </td>
                                    <td class="text-right font-weight-medium"> 15.45% </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-gb"></i>
                                    </td>
                                    <td>United Kingdom</td>
                                    <td class="text-right"> 450 </td>
                                    <td class="text-right font-weight-medium"> 25.00% </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-ro"></i>
                                    </td>
                                    <td>Romania</td>
                                    <td class="text-right"> 620 </td>
                                    <td class="text-right font-weight-medium"> 10.25% </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="flag-icon flag-icon-br"></i>
                                    </td>
                                    <td>Brasil</td>
                                    <td class="text-right"> 230 </td>
                                    <td class="text-right font-weight-medium"> 75.00% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>*@
                <div class="col-md-12 text-center">
                    <div id="audience-map" class="vector-map"></div>
                </div>
            </div>
        </div>
    </div>
</div>