<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mustafa Samet Turan</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'" />
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" />
    </noscript>
    <link href="~/Portfolio/css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="~/Portfolio/css/bootstrap-icons/bootstrap-icons.css?ver=1.2.0" rel="stylesheet">
    <link href="~/Portfolio/css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="~/Portfolio/css/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="~/Portfolio/css/main.css?ver=1.2.0" rel="stylesheet">
    <link href="~/flag-icons/css/flag-icon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Portfolio/images/m_shortcuticon.png" />

    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>