<div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
<script src="~/Portfolio/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
<script src="~/Portfolio/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
<script src="~/Portfolio/scripts/BigPicture.min.js?ver=1.2.0"></script>
<script src="~/Portfolio/scripts/purecounter.min.js?ver=1.2.0"></script>
<script src="~/Portfolio/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="~/Portfolio/scripts/aos.min.js?ver=1.2.0"></script>
<script src="~/Portfolio/scripts/main.js?ver=1.2.0"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
@await Component.InvokeAsync("Notyf")
