<li class="nav-item nav-profile dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
        <img src="~/userimage/@ViewBag.v" alt="profile" />
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
        <a class="dropdown-item" href="/User/Profile/Index/">
            <i class="ti-settings text-primary"></i>
            @sharedResource["settings"]
        </a>
        <a class="dropdown-item" href="/User/Login/LogOut/">
            <i class="ti-power-off text-primary"></i>
            @sharedResource["logOut"]
        </a>
    </div>
</li>